.card {
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContent {
    width: 267px;
    background-color: #d4d4d4;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cardContent:hover {
    box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
    -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
}

.collectionLink, .collectionLink:hover, .collectionLink:active  {
    font-weight: 600;
    display: block;
    margin-bottom: 0;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding-right: 20px;
}

.heartIconContainer {
    height: 21px;
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.heartIcon {
    height: 20px;
    filter: invert(100%) sepia(6%) saturate(7479%) hue-rotate(176deg) brightness(113%) contrast(103%);
}

.heartBorder {
    height: 20px;
    filter: invert(0%) sepia(2%) saturate(26%) hue-rotate(273deg) brightness(84%) contrast(100%);
    position: absolute;
}

.redHeart {
    height: 20px;
    filter: invert(18%) sepia(100%) saturate(6387%) hue-rotate(356deg) brightness(95%) contrast(121%);
}

@media screen and (min-width: 400px) { .card { width: 50%; } .cardContent { width: 170px; }}
@media screen and (min-width: 800px) { .card {width: 25%} }
@media screen and (min-width: 1200px) { .card {width: 20%} }