.card {
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContent {
    width: 267px;
    background-color: #d4d4d4;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cardContent:hover {
    box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
    -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
}

.collectionLink, .collectionLink:hover, .collectionLink:active  {
    font-weight: 600;
    display: block;
    margin-bottom: 0;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding-right: 20px;
}

.heartIconContainer, .noColor {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    padding-right: 0.2px;
    padding-top: 0.3px;
}

.noColor {
    background-color: transparent;
}

.heartIcon, .ellipseIcon {
    height: 13px;
    filter: invert(100%) sepia(6%) saturate(7479%) hue-rotate(176deg) brightness(113%) contrast(103%);
}

.redHeart {
    height: 13px;
    filter: invert(18%) sepia(100%) saturate(6387%) hue-rotate(356deg) brightness(95%) contrast(121%);
}

@media screen and (min-width: 400px) { .card { width: 50%; } .cardContent { width: 170px; }}
@media screen and (min-width: 800px) { .card {width: 25%} }
@media screen and (min-width: 1200px) { .card {width: 20%} }