.card {
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.cardContent {
    width: 267px;
    background-color: #d4d4d4;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContent:hover {
    box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
    -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
}

.collectionLink, .collectionLink:hover, .collectionLink:active  {
    font-weight: 600;
    display: block;
    margin-bottom: 0;
    color: #000;
    text-decoration: none;
    text-align: center;
}

@media screen and (min-width: 400px) { .card { width: 50%; } .cardContent { width: 170px; }}
@media screen and (min-width: 800px) { .card {width: 25%} }
@media screen and (min-width: 1200px) { .card {width: 20%} }