.detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
}

.container {
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info {
    width: 100%;    
}

.leftContainer {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    width: 100%;
}

.posterContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.poster {
    width: 267px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 16px;
    text-align: center;   
}

.title {
    text-align: center;
    margin-bottom: 16px;
    width: 100%;
}

.voteInfo {
    display: flex;
    margin: 8px 0;
    align-items: center;
}

.label {
    font-weight: 600;
    margin-right: 16px;
    display: block;
    width: 50%;
}

.description {
    display: block;
    width: 50%;
}

.contentCenter {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
  
.loading {
    width: 25%;
} 

.castInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fullCastContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.castContainer {
    overflow-x: scroll;
    display: flex;
    max-width: 88vw;
    margin-bottom: 16px;
}


.castMember, .fullCastMember {
    /* display: inline; */
    background-color: #d4d4d4;
    border-radius: 10px;
    margin: 16px;
    cursor: pointer;
}

.fullCastMember {
    display: inline-block;
    max-width: 125px;
    margin: 8px;
}

.castMember:hover, .fullCastMember:hover {
    box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
    -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
}

.profilePic {
    width: 125px;
    height: 187px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.defaultProfilePic {
    width: 125px;
    height: 187px;
    padding: 16px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}

.name {
    padding: 16px;
}

.showAllContainer {
    display: flex;
    align-items: center;
    margin: 8px;
}

.aWidth {
    width: 267px;
}

@media screen and (min-width: 768px) { 
    .info {
        width: 55%;
    }
    .leftContainer {
        width: 40%;
    } 
    .label {
        width: 30%;
    }
    .description {
        width: 70%;
    }
    .castContainer {
        max-width: 60vw;
    }
}