.card {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.cardContent {
    width: 267px;
    position: relative;
}

.poster {
    border-radius: 10px;
    width: 267px;
    height: 400px;
    min-height: 400px;
    object-fit: cover;
    margin-bottom: 8px;
}

.posterDefault {
    border-radius: 10px;
    width: 267px;
    height: 400px;
    min-height: 400px;
    object-fit: contain;
    margin-bottom: 8px;
    padding: 16px;
    background-color: #fff;
}

.poster:hover, .posterDefault:hover {
    box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
    -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
}

.maxWidth {
    max-width: 170;
}

.heartIconContainer, .noColor {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    padding-right: 0.2px;
    padding-top: 0.3px;
}

.noColor {
    background-color: transparent;
}

.heartIcon, .ellipseIcon {
    height: 13px;
    filter: invert(100%) sepia(6%) saturate(7479%) hue-rotate(176deg) brightness(113%) contrast(103%);
}

.redHeart {
    height: 13px;
    filter: invert(18%) sepia(100%) saturate(6387%) hue-rotate(356deg) brightness(95%) contrast(121%);
}

@media screen and (min-width: 400px) { .card { width: 50%; } .poster { width: 170px; height: 255px; min-height: 255px; }
                                       .cardContent { width: 170px; } .posterDefault { width: 170px; height: 255px; min-height: 255px; }}
@media screen and (min-width: 800px) { .card {width: 25%} }
@media screen and (min-width: 1200px) { .card {width: 20%} }
