.fullCastMember {
    background-color: #d4d4d4;
    border-radius: 10px;
    margin: 16px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    max-width: 125px;
    margin: 8px;
}

.profilePic {
    width: 125px;
    height: 187px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.defaultProfilePic {
    width: 125px;
    height: 187px;
    padding: 16px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}

.name {
    padding: 16px;
    display: block;
}

.heartIconContainer {
    height: 21px;
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.heartIcon {
    height: 20px;
    filter: invert(100%) sepia(6%) saturate(7479%) hue-rotate(176deg) brightness(113%) contrast(103%);
}

.heartBorder {
    height: 20px;
    filter: invert(0%) sepia(2%) saturate(26%) hue-rotate(273deg) brightness(84%) contrast(100%);
    position: absolute;
}

.redHeart {
    height: 20px;
    filter: invert(18%) sepia(100%) saturate(6387%) hue-rotate(356deg) brightness(95%) contrast(121%);
}