.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 62px);
}

.photosContainer {
    position: relative;
}

.firstSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left {
    display: flex;
    justify-content: center;
    width: 100%;
    /* padding-right: 30px; */
    flex-wrap: wrap;
    margin-bottom: 16px;
    position: relative;
}

.profilePic {
    width: 100%;
    max-width: 300px;
    max-height: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 16px;
}

.defaultProfilePic {
    width: 100%;
    max-width: 300px;
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
}

.right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.selectContainer {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 16px;
    width: 100%
}

.iconContainer {
    height: 34px;
    vertical-align: middle;
    position: absolute;
    width: 36px;
    background-color: #fff;
    right: 2px;
    display: flex;
    align-items: center;
}

.iconDumb {
    vertical-align: middle;
    position: absolute;
    right: 12px;
    max-height: 50%;
    cursor: pointer;
}

.invisible {
    display: none;
}

.loadingContainer {
    width: 100%;
    max-width: 330px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsContainerFull {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1587px;
    flex: 1;
    flex-direction: row;
}

.noResultsPagination {
    display: none;
}

.resultsPagination {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.heartIconContainer {
    height: 21px;
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.heartIcon {
    height: 20px;
    filter: invert(100%) sepia(6%) saturate(7479%) hue-rotate(176deg) brightness(113%) contrast(103%);
}

.heartBorder {
    height: 20px;
    filter: invert(0%) sepia(2%) saturate(26%) hue-rotate(273deg) brightness(84%) contrast(100%);
    position: absolute;
}

.redHeart {
    height: 20px;
    filter: invert(18%) sepia(100%) saturate(6387%) hue-rotate(356deg) brightness(95%) contrast(121%);
}

@media screen and (min-width: 768px) { 
    .left {
        width: 40%;
        padding-right: 30px;
        margin-bottom: 0;
    }
    .right {
        width: 60%
    }
}