.input {
    padding-right: 2.5rem !important;
    width: 100%;
}
  
.test {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.searchInput {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
  
.iconDumb {
    vertical-align: middle;
    position: absolute;
    right: 12px;
    max-height: 50%;
    cursor: pointer;
}

.cardsContainerFull {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1587px;
    min-height: calc(100vh - 170px);
}

.noResults {
    width: 100%;
    max-width: 300px;
    margin-bottom: 16px;
}

.noResultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}