.searchInput {
    width: 100%;
    display: inline-block;
} 
  
.input {
    padding-right: 2.5rem !important;
    width: 100%;
}
  
.test {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
  
.iconDumb {
    vertical-align: middle;
    position: absolute;
    right: 12px;
    max-height: 50%;
    cursor: pointer;
}

.cardsContainerFull {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1587px;
    min-height: calc(100vh - 134px);
}

.noResults {
    width: 100%;
    max-width: 300px;
    margin-bottom: 16px;
}