.input {
    padding-right: 2.5rem !important;
    width: 100%;
}
  
.test {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.searchInput {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
  
.iconDumb {
    vertical-align: middle;
    position: absolute;
    right: 12px;
    max-height: 50%;
    cursor: pointer;
}

.configIcon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    vertical-align: center;
}

.cardsContainerFull {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1587px;
    flex: 1;
    flex-direction: row;
}

.loadingContainer {
    width: 100%;
    max-width: 330px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

.noResultsPagination {
    display: none;
}

.resultsPagination {
    min-height: calc(100vh - 170px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.noResults {
    width: 100%;
    max-width: 300px;
    margin-bottom: 16px;
}

.noResultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.selectContainer, .fullSelectContainer {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

.selectContainer {
    width: calc(100% - 51px);
}

.iconContainer {
    height: 34px;
    vertical-align: middle;
    position: absolute;
    width: 36px;
    background-color: #fff;
    right: 2px;
    display: flex;
    align-items: center;
}

.selectIconDumb {
    vertical-align: middle;
    position: absolute;
    right: 12px;
    max-height: 50%;
    cursor: pointer;
}

.invisible {
    display: none;
}

.modalForm {
    padding: 8px;
    padding-top: 0;
}