body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, .bold{
  font-weight: 600 !important;
}

h1 {
  margin-bottom: 16px !important;
}

.Toastify__toast--default {
  color: #000 !important;
  border-radius: 5px !important;
  border: 1px;
  box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
  -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
}

.Toastify__close-button--default {
  opacity: 1 !important;
}

.Toastify__progress-bar--default {
  background: #0d6efd !important;
}

.customLink, .linkDiv, .linkDiv:hover, .linkDiv:hover {
  color: #000;
  text-decoration: none;
}

.customLink:hover, .customLink:active {
  color: #0d6efd;
}

.block {
  display: block;
}

.btn:hover {
  box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
  -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%) !important;
  border: 1px transparent solid !important;
}


::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-thumb {
  background: #787878;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #787878;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: #787878;
}

::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
background: #d4d4d4;
}

.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.cardsContainer, .cardsContainerMargin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1587px;
}

.cardsContainerMargin {
  margin-top: 16px;
}

.contentCenter, .contentCenter170 {
  width: 100%;
  max-width: 330px;
  min-height: calc(100vh - 64px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentCenter170 {
  min-height: calc(100vh - 170px);
}

.loading {
  width: 25%;
} 

.btn-group {
  display: flex;
  flex-wrap: wrap;
}