.container {
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1587px;
  }